
# ------ TEST SETTINGS ------

# === ALL TESTS ===

# show all test output, make failures verbose and never cache
test --test_output=all --verbose_failures --cache_test_results=no

# show all coverage outputs
coverage --test_output=all --verbose_failures
coverage --instrumentation_filter=

# === MEMORY ANALYSIS ===

test:valgrind --run_under="valgrind --leak-check=full"

test:asan --linkopt -fsanitize=address

# === GTESTS ===

test:gtest --action_env="GTEST_SHUFFLE=1" --action_env="GTEST_BREAK_ON_FAILURE=1"

coverage:gtest --action_env="GTEST_SHUFFLE=1" --action_env="GTEST_BREAK_ON_FAILURE=1"
